/*CSS for ACE editor*/
div.code-widget {
	position:relative;
	width: 80%;
}

#com-port-button.ui-selectmenu-button-closed{width:220px !important}
#com-port-button.ui-selectmenu-button-open{width:220px !important}

.toolbar{
	background:#093;
	/*width:734px;*/
	width: 100%;
	font-size:.75em;
	padding-left: 2px;
	padding-right: 2px;
}
.toolbar > table {
	width: 95%;
	margin-left: 10px;
}

.toolbar-top{
	padding-top:6px;
	padding-bottom:6px;
	border-top-right-radius:1em;
	border-top-left-radius:1em
}
.toolbar-bottom{
	padding-bottom:6px;
	border-bottom-left-radius:1em;
	border-bottom-right-radius:1em;
	color:#fff
}
#sketch{
	border:2px solid #093;
	height:480px;
	/*width:750px;*/
	width: 100%;
}
pre.output{
	border:1px solid red;
	height:300px;
	/*width:752px;*/
	width: 100%;
	background-color:#fff;
	color:#000;
	margin:0px;
	overflow:scroll;
	display:block;
	font-family:roboto
}
div.output-container{
	/*width:752px*/
	width: 100%;
}
button.success:active{background-color:#90ee90}
.ace-warning{
	background:rgba(255,50,50,.1);
	position:absolute;
	width:100% !important;
	left:0 !important
}
span.ace_constant{color:red}

#success-splash {
	background-color: green;
	opacity: 0.75;
	font-size: 500% !important;
}

div.plugin-warning, #success-splash {
	position:absolute;
	width:100%;
	font-size: xx-large;
	font-weight: bold;
	z-index: 999;
}
div.plugin-warning-background {
	background-color: lightgrey !important;
	opacity: 0.75;
	z-index: 998;
}
div.plugin-warning > div, #success-splash > div {
	text-align: center;
	margin-top: 150px;
}
div.plugin-warning  button {
	margin-top: 50px;
	padding: 20px;
	background-color: #009933;
	cursor: pointer;
	border-radius: 25px;
}

